/*Estilos para body*/
html, body {font-family: Helvetica Neue,Futura,Arial,Verdana,sans-serif;height: 100%;}
.wrapper{min-height: 100%;margin: 0 auto -88px;height: auto !important;}
.push{height: 100px;}
.anagrama{cursor: pointer;}
hr{border: solid 1px #166BA2;width:830px;}
hr.hrini{margin: 0 auto 10px auto;}
hr.hrfin{margin: 10px auto 0 auto;}
.imgini{margin: 15px !important;}
figure{z-index: 10;}
.menuext{margin: 0 auto;width:830px;height: 83px;}
#menuAupaBilbao{margin: 50px auto;height:auto;width:830px;}
#menuAupaBilbao ul, .menuext ul{margin-bottom: 0;}
#menuAupaBilbao ul li,.menuext ul li{float:left;margin: 0 20px 0 0;display:block;text-align:center;}
#menuAupaBilbao ul li img,.menuext ul li{width: 150px;height:auto;}
#menuAupaBilbao ul li:last-child, .menuext ul li:last-child{margin-right:0;}
.menuext ul li a{display:block;color:#166BA2;}
.menuext ul li a:hover{color:#D06503;background-color: #f5f5f5;text-decoration:none;}

footer{height: 88px;padding: 20px;background-color: #f5f5f5;opacity: .6;}
footer a img{width: 24px; height: auto; padding: 2px;}
footer a img.mail{width: auto;}
#logospie li img.margen{margin-left: 10px;}
.noEzno{display: none;}

#logotipo{position: absolute;margin-left: 5px;margin-top: 5px;}
i, em{font-style:italic;}
.img-rounded, .titusection {border-radius: 25px;}
#firma{margin-top: -12%;}
#titulo{width: 100%;padding-top: 100px;}

h1{
	text-align: center;
	color: #152836;
	opacity: 1;
	font-family: Helvetica Neue;
	margin: 0 !important;
	padding-top: 20px;
}
h2{
	text-align: center;
	color: #1B3647;
	margin-top: 20px;
	font-family: Helvetica Neue;
}
h3.menuautor{padding-top:0;margin: 0 0 0 50px;font-size: 1.2em;}
h2.txiki{font-size: 1.3em;}

#titulofoto{width:100%; padding-top:50px;}
#titulofoto h1{font-size: 2em;}
#titulofoto h2, #titulofoto h3{font-size: 1.6em; margin-top: 13px;text-align:center;font-family: Helvetica Neue;}

#menuini{margin: 100px auto;height: 230px;}
#menuini ul li.contenedor{
	height: 230px;
	float:left;
	-webkit-transition: height .4s;
	transition: height .4s;
}
#menu1{background-color: #D06503;}
#menu2{background-color: #E9931A;}
#menu3{background-color: #1691BE;}
#menu4{background-color: #166BA2;}
#menu5{background-color: #1B3647;}
#menu6{background-color: #152836;}
#menuini ul li img.icon{
	display: block;
	margin: 50px auto;
	background-color: rgba(255,255,255,.15);
	width: 74px;
	padding: 20px;
	-webkit-border-radius: 50%;
	border-radius: 50%;	
	-webkit-box-shadow: 0 0 0 30px rgba(255,255,255,0);
	box-shadow:  0 0 0 30px rgba(255,255,255,0);
	-webkit-transition: box-shadow .4s;
	transition: box-shadow .4s;
}
#menuini ul li span.texto{
	display: block;
	width: 100%;
	font-size: 1.2em;
	color: white;
	text-align: center;
	padding-top: 10px;
	opacity: .6;
	-webkit-transition: padding-top .4s;
	transition: padding-top .4s;
}
#menuini ul li.contenedor:hover{height: 280px;cursor: pointer;}
#menuini ul li.contenedor:hover span.texto{padding-top: 30px;opacity: 1;}
#menuini ul li.contenedor:hover img.icon{
	-webkit-box-shadow: 0 0 0 0 rgba(255,255,255,.6);
	box-shadow: 0 0 0 0 rgba(255,255,255,.6);
}
.nuevoStilo{
	margin-top: -220px !important;
	height: 100px !important;
	-webkit-transition: margin-top .6s, height .6s;
	transition: margin-top .6s, height .6s;
}
.limpia,.limpia2{clear:both}
.limpia2{font-size:0;height:0;}
#tit1, #tit7{background-color: #D06503;}
#tit2{background-color: #E9931A;}
#tit3{background-color: #1691BE;}
#tit4{background-color: #166BA2;}
#tit5{background-color: #1B3647;}
#tit6{background-color: #152836;}

.titusection{
	float: right !important;
	padding: 1%;
	color: #fff;
	opacity: .6;
}

#sec0{position: relative;margin: 0 auto;}
#sec1, #sec7{border-color: #D06503 !important;}
#sec2{border-color: #E9931A !important;}
#sec3{border-color: #1691BE !important;}
#sec4{border-color: #166BA2 !important;}
#sec5{border-color: #1B3647 !important;}
#sec6{border-color: #152836 !important;}

#sec1, #sec2, #sec3, #sec4, #sec5, #sec6, #sec7, #error{
	border: 10px outset;
	width: 76%;
	min-height: 300px;
	height: auto;
	margin: 0 auto;
	margin-top: 55px;
	text-align: justify;
	padding: 0 1.4% 1.4% 1.4%;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
#sec7{min-height: 0;}
#sec7 img{width: 100%;height: auto;}

#error{
	border-color: #FF9494 !important;
	text-align: center;	
	font-size: 2.5em;
	color: #152836;
	opacity: 1;
	font-family: Helvetica Neue;
	min-height: 100px !important;
	line-height: 50px;	
}

#sec3 article ul.row, #sec4 article ul.row{margin-bottom: 0;}
#sec3 article ul.row li span{display: block;}
#sec4 article ul.row li span{padding-left: 3%;}
#sec5 .icosocial{
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
#sec5 ul li{float: left;}
#sec5 a img:hover{
	-webkit-transform:rotate(10deg);
	-moz-transform:rotate(10deg);
	-o-transform:rotate(10deg);
	-ms-transform:rotate(10deg);
}
#sec6 article h5{color: #58852E;margin-bottom: 0;}
#sec6 article h6{margin-top: 0;}

.subrayado{
	padding-bottom: 5px;
	border-bottom: 2px dotted #166BA2;
	color: #166BA2;
}

#navegadock {
	position: fixed;
	right: 2%;
	top: 45%;
	z-index: 998;
}
#navegadock a {
	display: block;
	height: 16px;
	width: 16px;
	margin-bottom: 150%;
	text-decoration: none;
	background:  url(../imagenes/Inactivo16x16.png) no-repeat;
}
#divup{
	position: fixed;
	left: 2%;
	bottom: 2%;
	z-index: 999;
}
#iniup{
	display: block;
	height: 48px;
	width: 48px;
	text-decoration: none;
	background:  url(../imagenes/UpInactivo48x48.png) no-repeat;
}

#navegadock a:hover {background:  url(../imagenes/Activo16x16.png) no-repeat;}
#iniup:hover{background:  url(../imagenes/UpActivo48x48.png) no-repeat;}

#fotos, #recomendacion{
	border-radius: 100%;
	float: left;
	padding: 2%;
	opacity: .6;
	margin-top: -7% !important;
	animation: parpadeo 5s;
	-webkit-animation: parpadeo 5s;
	-moz-animation: parpadeo 5s;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	box-shadow:0px 0px 10px #152836;
	-webkit-box-shadow:0px 0px 10px #152836;	
}
	@keyframes parpadeo {	
	0%	{box-shadow: 0px 0px 10px #152836}
	50%	{box-shadow: 0px 0px 50px #152836}
	100%{box-shadow: 0px 0px 10px #152836}	
	}

	@-webkit-keyframes parpadeo {	
	0%	{-webkit-box-shadow: 0px 0px 10px #152836}
	50%	{-webkit-box-shadow: 0px 0px 50px #152836}
	100%{-webkit-box-shadow: 0px 0px 10px #152836}
	}

#secFotos{
	width: 1078px;
	padding: 0;
	border-top: 0;
	border-left:0;
	border-right: 10px outset rgba(0, 0, 0, 0.2);
	border-bottom: 10px outset rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	margin-top: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.fotocontenedor{
    position:relative;
	height:530px;
    overflow:hidden;
    clear:both;
    border:2px solid #fff;
    cursor:pointer;
    -moz-box-shadow:1px 1px 3px #222;
    -webkit-box-shadow:1px 1px 3px #222;
    box-shadow:1px 1px 3px #222;
}
.fotocontenedor .fotomarco{
    position:absolute;
    overflow:hidden;
	background: url(../imagenes/espera.gif) no-repeat center;
}
.fotomarco img{
    position:absolute;
    top:0;
    left:0;
    display:none;
	width: 100%;
	height: 100%;
}
.fotomarco img.fotovisible{display:block;z-index:997;}
.fotomarco1, .fotomarco3, .fotomarco2{border-right: 2px solid #fff;}
.fotomarco3, .fotomarco5{border-top: 2px solid #fff;}
.fotomarco1{
    width:50%;
    height:100%;
    top:0;
    left:0;
}
.fotomarco2{
    width:25%;
    height:50%;
    top:0;
    left:50%;
}
.fotomarco4{
    width:25%;
    height:50%;
    top:0;
    left:75%;
}
.fotomarco3{
    width:25%;
    height:50%;
    top:50%;
    left:50%;
}
.fotomarco5{
    width:25%;
    height:50%;
    top:50%;
    left:75%;
}

.transparente{border: 10px outset rgba(0, 0, 0, 0.1) !important;}

#panelfotos{
	margin: 0 auto;
	height: 50px;
	width: 50%;
	opacity: .6;
	background-color: #F6F6F6;
	border: 10px dotted #F6F6F6;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}
#panelfotos ul{
	position: relative;
	margin: 0;
	padding: 0;
	text-align: center;
}
#panelfotos ul li{
	position: absolute;
	display: inline;
	word-spacing:35px;
}
#panelfotos ul li a{
	text-decoration: none;
	cursor: pointer;
	background:  url(../imagenes/Inactivo16x16.png) no-repeat;
}
#botfoto1 a{line-height:30px;}
#panelfotos ul li a:hover {background:  url(../imagenes/Activo16x16.png) no-repeat;}

#botfoto0 a{
	display: block;
	width: 48px !important;
	height:48px !important;
	background:  url(../imagenes/playinactivo.png) no-repeat !important;
}

#botfoto0 a:hover{background:  url(../imagenes/playactivo.png) no-repeat !important;}
#botfoto0{left:20%;top:-9px;}
#botfoto1{left:42%;top:0;}
#botfoto2{left:50%;top:-5px;}
#botfoto3{left:50%;bottom:-35px;}
#botfoto4{left:58%;top:-5px;}
#botfoto5{left:58%;bottom:-35px;}

/*menu autocomplete glosario*/
.glomenu{margin:0 auto;}
.gloabc{
	float:left;
	text-align:center;
	background-color:#FFFFFF;
	clear:both;
	width:780px;
	padding:10px;
	opacity: .6;
}
.glotextodiv{float:left;width:150px;background-color:#DDDDDD}
.glotextoimg, .glotextoimg2{float:left;}
.glotextoimg2{width:760px;border-bottom:2px solid #7FCFEE}
.glotexto {
border-bottom:3px solid #DADEE2;
	text-align:left;
	font-family:arial, helvetica, verdana, tahoma; 
	font-size:12px;
	color:#000000;
	margin:0px;
	padding-left:5px;
	text-decoration:none;
}
.letra {
	vertical-align:middle;
	text-align:left;
	font-family:arial, helvetica, verdana, tahoma; 
	font-size:15px;
	color:#000000;
	margin:0px;
	background-color:#DDDDDD;
	line-height:25px;
	letter-spacing:1px;
	padding-left:5px;
	text-decoration:none;
}
.letra a:hover{
	color:black;
	background-color:#7FCFEE;
}
.titulo_diccionario{
	text-align:left;
	font-family:arial, helvetica, verdana, tahoma; 
	font-size:16px;
	color:#000000;
	margin:0px;
	border-bottom:1px solid #7FCFEE;
	text-decoration:none;
}
.titulo_diccionario img{
	vertical-align: middle;
	margin:5px;
}

/*menu horizontal*/
#pestana-contenedor{
	height: 350px;
	width: 230px;
	position: fixed;
	top: 50%;
	margin-top: -210px;
	left: 0;
	z-index: 1000;
	opacity: 0.9;
}
#pestana-content{
	height: 315px;
	width: 210px;
	background: #3E4D46;
	-webkit-border-radius: 0 25px 25px 0;
	-moz-border-radius: 0 25px 25px 0;
	border-radius: 0 25px 25px 0;
}
#menuhorizontal{margin-bottom: 0;}
#menuhorizontal li{height: 35px;line-height: 34px;}
#menuhorizontal li a{
	display: block;
	color: #B6BBB9;
	background-color: #3E4D46;
	width: 100%;
	text-align: left;
	padding: 0 20px;
	text-decoration: none;
	border-bottom: 2px solid #758B81;
	-webkit-border-radius: 0 35px 35px 0;
	-moz-border-radius: 0 35px 35px 0;
	border-radius: 0 35px 35px 0;
}
#menuhorizontal li a:hover{
	color: #000;
	background-color: #CFE5FF;
	text-align: right;
	font-weight: bold;
	padding-bottom: 35px;
}
#menuhorizontal li.submenu a{padding-left:40px;}
#menuhorizontal li.submenu2 a{padding-left:60px;}
#menhor7 a:hover{padding-bottom: 0 !important;}
#pestana-click{
	height: 50px;
	width: 20px;
	background:  #3E4D46;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	right: 0;
	cursor: pointer;
	color: #B6BBB9;
	font-size: 1.6em;
	font-weight: bold;
	line-height: 50px;
	-webkit-border-radius: 0 7px 7px 0;
	-moz-border-radius: 0 7px 7px 0;
	border-radius: 0 7px 7px 0;
}
#menuhorizontal li img.iconpeque, #pestana-click img{
	width: 20px;
	height: auto;
	border-radius: 50%;	
	background-color: rgba(255,255,255,.15);
}
#pestana-click img{width: 30px;}

/*Navegación recomendaciones*/
.content{
	position:relative;
	min-height: 200px;
	margin-top: 50px;
}
.ca-menu{
    padding:0;
    margin:20px auto;
    width: 932px;
}
.ca-menu li{
    width: 230px;
    height: 230px;
    border: 10px solid #f6f6f6;
    overflow: hidden;
    position: relative;
    float:left;
    background: #fff;
    margin-right: 4px;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-menu li:last-child{margin-right: 0px;}
.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
	text-decoration: none;
}
.ca-icon{
    color: #f6f6f6;
    line-height: 60px;
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 30px;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
	opacity: 0.3;
}
.ca-main{
    font-size: 24px;
    position: absolute;
    top: 110px;
    height: 80px;
    width: 170px;
    left: 50%;
    margin-left: -85px;
    opacity: 0.8;
    text-align: center;
}
.ca-sub{
    text-align:center;
    color: #000;
    font-size: 26px;
    position: absolute;
    height: 80px;
    width: 170px;
    left: 50%;
    margin-left: -85px;
    top: 110px;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-menu li:hover{
    background: #f7f7f7;
    border-color: #fff;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.ca-menu li:hover .ca-icon{
    color: #555;
    font-size: 60px;
	opacity: 1;
}
.ca-menu li:hover .ca-main{display: none;}
.ca-menu li:hover .ca-sub{opacity: 0.8;}

/*Visor de recomendaciones*/
#divmarco{
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 9998;
	background:  url(../imagenes/beigepaper.png) repeat;
}

#divimg{
	position: absolute;
	z-index: 9999;
	margin: 20px;
	top: 0;
	left:0;
	background: #EEF3E2;	
	border: 5px solid #C1CDCD;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
}

#divimg ul li{padding: 12px;}
#divimg ul li img{width: 100%;height: auto;}

/*Estilos caja Modal*/
#secX, #secX.sec7 img{width: 100%;height: auto;}
#secX.sec3 article ul.row li small, #secX h3, #secX .botonsec{display: none;}
#secX.sec3 article ul.row li span{display: inline;}
#secX.sec3 article ul.row li {text-align: left !important;}
#secX.sec4 article div.row p.fin{margin-bottom: 10px;}
#secX.sec4 article ul.row{margin-bottom: 3%;}
#secX.sec4 article ul.row li span{padding-left: 3%;}
#secX.sec5 .icosocial{margin-top: 10px !important;margin-bottom: 10px !important;}
#secX.sec5 ul li{float: left;}
#secX.sec6 article h5{color: #58852E;margin-bottom: 0;}
#secX.sec6 article h6{margin-top: 0;}
#secX.sec5 a img:hover{
	-webkit-transform:rotate(10deg);
	-moz-transform:rotate(10deg);
	-o-transform:rotate(10deg);
	-ms-transform:rotate(10deg);
}

/*Estilos Rss*/
h2.rss{
	font-weight:bold;
	font-size:1.4em;
	margin-bottom: 10px;
}
li.rss{
	width: 47%;
	margin-left: 2%;
	margin-right: 2%;
	float: left;
	margin-bottom: 10px;
	cursor: pointer;
}
li.rss:nth-child(2n){margin-left: 0%;}
.rss.new-wrapper{
	padding: 20px;
	border: 1px solid #555;
	border-radius: 10px;
	background: #eee;
}
li p .rss{
	margin-bottom: 10px;
	word-wrap:break-word;
}
li p.rss:last-child{margin-bottom: 0;}
li p a.rss{display: none;}
li p span.rss{
	font-size: .9em;
	font-style: italic;
	display: block;
	margin-top: 10px;
}

@media only screen and (max-height: 800px), only screen and (max-device-height: 800px){
	#menuAupaBilbao{margin: 40px auto 24px auto;}
}

@media only screen and (max-width: 1160px), only screen and (max-device-width: 1160px) {
	#titulofoto h2, #titulofoto h3{font-size: 1.4em;}
}
@media only screen and (max-width: 1100px), only screen and (max-device-width: 1100px) {
	#secFotos{width: 900px !important;}
	.fotocontenedor{height:442px}
}

@media only screen and (max-width: 1065px), only screen and (max-device-width: 1065px) {
	#titulofoto h2, #titulofoto h3{font-size: 1.2em;}
}

@media only screen and (max-width: 1080px), only screen and (max-device-width: 1080px) {#sec4{width: 85%;}}

@media only screen and (max-width: 965px), only screen and (max-device-width: 965px) {
	#titulofoto{padding-top:80px;}
}


@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
	#menuini ul li.contenedor:hover{height: 230px;}
	#menuini ul li.contenedor:hover span.texto{padding-top: 20px;}
	#menuini{margin-top:30px;}
	#titulo{padding-top:65px;}
	#logotipo{margin-top: 10px;}	
	#sec1, #sec2, #sec3, #sec4, #sec5, #sec6{width: 85%;}
	.ca-menu{width: 732px;}
	.ca-menu li{width:180px;height:180px;}
	.ca-icon{top:20px;}
	.ca-main{font-size:18px;top:90px;width:150px;margin-left:-75px;}
	.ca-sub{font-size:20px;top:80px;width:150px;margin-left:-75px;}
}	

@media only screen and (max-width: 925px), only screen and (max-device-width: 925px) {
	#secFotos{width: 765px !important;}
	.fotocontenedor{height:375px}
}

@media only screen and (max-width: 860px), only screen and (max-device-width: 860px) {
	hr{width:552px;}
	.menuext{width:552px;}
	#menuAupaBilbao{width:552px;margin-top: 75px;}
	#menuAupaBilbao ul li,.menuext ul li{margin-right: 13px;}
	#menuAupaBilbao ul li img,.menuext ul li{width: 100px;}
	h1.anagrama{font-size: 1.5em;}
	#titulo h2{font-size: 1.5em;}
}

@media only screen and (max-width: 801px), only screen and (max-device-width: 801px){
	.content{min-height:150px;}
	#sec4{width: 90%;}
	#sec3 article ul.row li small{display: block;}
	#firma{margin-top: -18%;}
	.ca-menu{width: 640px;}
	.ca-menu li{width:157px;height:157px;}
	.ca-icon{top:10px;}
	.ca-main{font-size:16px;top:70px;width:120px;margin-left:-58px;}
	.ca-sub{font-size:18px;top:60px;width:120px;margin-left:-58px;}
}
	
@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
	h3.menuautor{display: none;}
	#menuini ul li.contenedor,#menuini ul li.contenedor:hover{height: 200px;}
	#menuini ul li img.icon{margin:30px auto;}
	#secFotos{width: 500px !important;}
	#fotos, #recomendacion{margin-top: -9% !important;}
	.fotocontenedor{height:242px}
	#titulo {padding-top: 60px;}
	#menuini{margin-top: 20px;}
	#logotipo{margin-top: 5px;}		
	#sec1, #sec2, #sec3, #sec4, #sec5, #sec6{width: 95%;}
	#sec4 article div.row p.fin{margin-bottom: 10px;}
	#sec3 article ul.row li span{display: inline;}
	#sec3 article ul.row li {text-align: justify !important;}
	#sec3 article ul.row li small{display: none;}
	#sec3 article ul.row li i{padding-left: 6%;}
	#sec4 article ul.row{margin-bottom: 3%;}
	#logospie{display: block;}
	.kae{clear:both;}
	.content{min-height:450px;}
	.ca-menu{width: 468px;}
	.ca-menu li{width:230px;height:230px;}
	.ca-icon{top:30px;}
	.ca-main{font-size:24px;top:110px;width:170px;margin-left:-85px;}
	.ca-sub{font-size:26px;top:110px;width:170px;margin-left:-85px;}
}
		
@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
	#fotos{margin-top: -10% !important;}
	h1.anagrama{font-size: 1em;}
	#logoapli{width: 75px;}
	#menuAupaBilbao{margin:30px auto;}
	#titulo h2{font-size: 1.2em;}
	#titulo h1{font-size: 1.7em;}
}

@media only screen and (max-width: 580px), only screen and (max-device-width: 580px) {
	h1.anagrama {display: none;}
	hr{width:403px;}
	.menuext{width:403px;}
	#menuAupaBilbao{width:403px;margin: 90px auto 30px auto;}
	#menuAupaBilbao ul li,.menuext ul li{margin-right: 7px;}
	#menuAupaBilbao ul li img,.menuext ul li{width: 75px;}
}

@media only screen and (max-width: 525px), only screen and (max-device-width: 525px) {
	#logospie .pull-left{display: none;}
	#mailfooter{float: left !important;}
}

@media only screen and (max-width: 520px), only screen and (max-device-width: 520px) {
	#titulofoto{padding-top:76px;}
}

@media only screen and (max-width: 515px), only screen and (max-device-width: 515px) {
	#secFotos{width: 335px !important;}
	#fotos, #recomendacion{margin-top: -11% !important;}
	#firma{margin-top: -22%;}
	.fotocontenedor{height:215px}
	.fotomarco4, .fotomarco5, #botfoto4, #botfoto5{display: none !important;}	
	.fotomarco1{width:66.67%;}
	.fotomarco2{width:33.33%; left:66.67%;}
	.fotomarco3{width:33.33%; left:66.67%;}
	#panelfotos{width:66.67%;}
	#botfoto1{left:46%;}
	#botfoto2{left:65%;}
	#botfoto3{left:65%;}
	.content{min-height:354px;}	
	.ca-menu{width: 368px;}
	.ca-menu li{width:180px;height:180px;}
	.ca-icon{top:20px;}
	.ca-main{font-size:18px;top:90px;width:150px;margin-left:-75px;}
	.ca-sub{font-size:20px;top:80px;width:150px;margin-left:-75px;}	
	#titulo h2{font-size: 1em;padding:0 10px;}
	#titulo h1{font-size: 1.3em;}
	#titulofoto h2,#titulofoto h3{padding:0 10px;}
	#menuini ul li.contenedor,#menuini ul li.contenedor:hover{height: 160px;}
	#menuini ul li img.icon{margin:20px auto;width:60px;}
	#menuini ul li span.texto{padding-top:0;}
}

@media only screen and (max-width: 430px), only screen and (max-device-width: 430px) {
	hr{width:320px;}
	.menuext{width:320px;}
	#menuAupaBilbao{width:320px;margin: 90px auto 20px auto;}
	#menuAupaBilbao ul li,.menuext ul li{margin-right: 5px;}
	#menuAupaBilbao ul li img,.menuext ul li{width: 60px;}
	#anagramaimg{width:180px;}
	h2.pregunta{font-size:1.7em !important;margin-top:0;}
	.menuext span{font-size:0.8em;}
}

@media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {
	#firma{margin-top: -30%;}
	#fotos, #recomendacion{margin-top: -13% !important;}
	.content{min-height:300px;}	
	.ca-menu{width: 322px;}
	.ca-menu li{width:157px;height:157px;}
	.ca-icon{top:10px;}
	.ca-main{font-size:16px;top:70px;width:120px;margin-left:-58px;}
	.ca-sub{font-size:18px;top:60px;width:120px;margin-left:-58px;}
	h1{font-size: 1.4em !important;}
	h2,h3{font-size: 1em !important;}
}

@media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {
	#menuini{margin-top:10px;}
	#menuini ul li span.texto{font-size: 1em;}
	#menuini ul li img icon{width: 55px;}
	#menuini ul li.contenedor, #menuini ul li.contenedor:hover{height: 140px;}
	footer{height:40px;padding:10px;}
	footer ul{margin-bottom:0 !important;}
	footer a img{width: 20px;padding:0;}
	.push{height:45px;}
	.wrapper{margin-bottom:-40px;}
	h1.menuautor{padding-top:0;margin: 0 0 0 75px !important;}
}

@media only screen and (max-width: 340px), only screen and (max-device-width: 340px) {
	#firma{margin-top: -40%;}
	#sec1,#sec2,#sec3,#sec4,#sec5,#sec6{width:99%;padding: 0 1% 1% 1%;}
	#fotos{margin-top: -12% !important;}
}
	
@media only screen and (max-width: 337px), only screen and (max-device-width: 337px) {
	#secFotos{width: 300px !important;}
	.fotocontenedor{height:300px}
	.fotomarco2,.fotomarco3,#botfoto2,#botfoto3{display: none !important;}	
	.fotomarco1{width:100%;}
	#panelfotos{width:95%;}
	#botfoto1{left:50%;}
}

@media only screen and (max-width: 330px), only screen and (max-device-width: 330px) {
	hr{width:295px;}
	.menuext{width:295px;}
	#menuAupaBilbao{width:295px;margin: 85px auto 12px auto;}
	#menuAupaBilbao ul li img,.menuext ul li{width: 55px;}
	h2.pregunta{font-size:1.5em !important;}
	.menuext span{font-size:0.7em;}
}
