body{background: none;}
@page{margin: 35px 0;}

.noprint{display: none !important;}
#firma{margin-top: -18%;}
#sec1,#sec2,#sec3,#sec4,#sec5,#sec6{page-break-after: always; width: 90%; padding: 0 30px 30px 30px;}

#sec3 .text-right, #sec3 .text-left, #sec3 .text-justify{
	clear: both; 
	width: 100% !important;
	text-align: justify;
}

#sec3 small{display: none;}
#sec3 span{display: inline !important;}